* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
body {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

input {
  font-size: 16px;
}
.content {
  display: flex;
}

.search {
  flex-basis: 400px;
  margin-right: 30px;
}

.portfolio {
  flex: 1;
}

.instrument {
  position: relative;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.1s ease-out;
  padding: 5px;
}

.instrument:hover {
  background-color: #5093ff;
}

.instrument:hover::after {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 5px;
  padding: 3px;
  color: white;
}

.search__answers .instrument:hover::after {
  content: "ADD";
  background-color: rgb(0, 192, 0);
}

.search__answers .instrument.added:hover::after {
  content: "ADDED";
  background-color: rgb(138, 138, 138);
}

.portfolio__list .instrument:hover::after {
  content: "REMOVE";
  background-color: rgb(158, 0, 0);
}

.warning {
  color: red;
}
